<p id="notice"><%= notice %></p>

<p>
  <strong>Osid:</strong>
  <%= @computer.osid %>
</p>

<p>
  <strong>Keyboardid:</strong>
  <%= @computer.keyboardid %>
</p>

<p>
  <strong>Cpuid:</strong>
  <%= @computer.cpuid %>
</p>

<p>
  <strong>Screenid:</strong>
  <%= @computer.screenId %>
</p>

<p>
  <strong>Gpuid:</strong>
  <%= @computer.gpuid %>
</p>

<p>
  <strong>Activityid:</strong>
  <%= @computer.activityid %>
</p>

<p>
  <strong>Chipsetid:</strong>
  <%= @computer.chipsetid %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @computer.picture %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @computer.designation %>
</p>

<p>
  <strong>Model:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>Connector available:</strong>
  <%= @computer.connector_available %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @computer.weight %>
</p>

<p>
  <strong>Length:</strong>
  <%= @computer.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @computer.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @computer.height %>
</p>

<p>
  <strong>Memory size:</strong>
  <%= @computer.memory_size %>
</p>

<p>
  <strong>Memory type:</strong>
  <%= @computer.memory_type %>
</p>

<p>
  <strong>Memory max size:</strong>
  <%= @computer.memory_max_size %>
</p>

<p>
  <strong>Storage size:</strong>
  <%= @computer.storage_size %>
</p>

<p>
  <strong>Storage type:</strong>
  <%= @computer.storage_type %>
</p>

<p>
  <strong>Network:</strong>
  <%= @computer.network %>
</p>

<p>
  <strong>Webcam:</strong>
  <%= @computer.webcam %>
</p>

<p>
  <strong>Active:</strong>
  <%= @computer.active %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @computer.createdat %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @computer.updatedat %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
