<p id="notice"><%= notice %></p>

<p>
  <strong>Roleid:</strong>
  <%= @user.roleId %>
</p>

<p>
  <strong>Authid:</strong>
  <%= @user.authId %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @user.createdat %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @user.updatedat %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
