<p id="notice"><%= notice %></p>

<h1>Sequelizemeta</h1>

<table>
  <thead>
    <tr>
      <th>Active</th>
      <th>Active</th>
      <th>Activityid</th>
      <th>Activityid</th>
      <th>Authid</th>
      <th>Chipsetid</th>
      <th>Computerid</th>
      <th>Connector available</th>
      <th>Cpuid</th>
      <th>Createdat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Createdat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Createdat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Createdat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
      <th>Designation</th>
      <th>Domain</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Gpuid</th>
      <th>Height</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Id</th>
      <th>Indice</th>
      <th>Keyboardid</th>
      <th>Lastname</th>
      <th>Length</th>
      <th>Memory max size</th>
      <th>Memory size</th>
      <th>Memory type</th>
      <th>Model</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Name</th>
      <th>Network</th>
      <th>Osid</th>
      <th>Password</th>
      <th>Picture</th>
      <th>Pricing</th>
      <th>Quest</th>
      <th>Questid</th>
      <th>Refresh rate</th>
      <th>Resolution</th>
      <th>Resp</th>
      <th>Roleid</th>
      <th>Screenid</th>
      <th>Size</th>
      <th>Storage size</th>
      <th>Storage type</th>
      <th>Traderid</th>
      <th>Type</th>
      <th>Updatedat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Updatedat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Updatedat</th>
      <th>With</th>
      <th>Time</th>
      <th>Zone</th>
      <th>Url</th>
      <th>Webcam</th>
      <th>Weight</th>
      <th>Width</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequelizemeta.each do |sequelizemetum| %>
      <tr>
        <td><%= sequelizemetum.active %></td>
        <td><%= sequelizemetum.active %></td>
        <td><%= sequelizemetum.activityid %></td>
        <td><%= sequelizemetum.activityId %></td>
        <td><%= sequelizemetum.authId %></td>
        <td><%= sequelizemetum.chipsetid %></td>
        <td><%= sequelizemetum.computerId %></td>
        <td><%= sequelizemetum.connector_available %></td>
        <td><%= sequelizemetum.cpuid %></td>
        <td><%= sequelizemetum.createdat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.createdat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.createdat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.createdat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.description %></td>
        <td><%= sequelizemetum.designation %></td>
        <td><%= sequelizemetum.domain %></td>
        <td><%= sequelizemetum.email %></td>
        <td><%= sequelizemetum.firstname %></td>
        <td><%= sequelizemetum.gpuid %></td>
        <td><%= sequelizemetum.height %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.id %></td>
        <td><%= sequelizemetum.indice %></td>
        <td><%= sequelizemetum.keyboardid %></td>
        <td><%= sequelizemetum.lastname %></td>
        <td><%= sequelizemetum.length %></td>
        <td><%= sequelizemetum.memory_max_size %></td>
        <td><%= sequelizemetum.memory_size %></td>
        <td><%= sequelizemetum.memory_type %></td>
        <td><%= sequelizemetum.model %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.name %></td>
        <td><%= sequelizemetum.network %></td>
        <td><%= sequelizemetum.osid %></td>
        <td><%= sequelizemetum.password %></td>
        <td><%= sequelizemetum.picture %></td>
        <td><%= sequelizemetum.pricing %></td>
        <td><%= sequelizemetum.quest %></td>
        <td><%= sequelizemetum.questId %></td>
        <td><%= sequelizemetum.refresh_rate %></td>
        <td><%= sequelizemetum.resolution %></td>
        <td><%= sequelizemetum.resp %></td>
        <td><%= sequelizemetum.roleId %></td>
        <td><%= sequelizemetum.screenId %></td>
        <td><%= sequelizemetum.size %></td>
        <td><%= sequelizemetum.storage_size %></td>
        <td><%= sequelizemetum.storage_type %></td>
        <td><%= sequelizemetum.traderId %></td>
        <td><%= sequelizemetum.type %></td>
        <td><%= sequelizemetum.updatedat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.updatedat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.updatedat %></td>
        <td><%= sequelizemetum.with %></td>
        <td><%= sequelizemetum.time %></td>
        <td><%= sequelizemetum.zone %></td>
        <td><%= sequelizemetum.url %></td>
        <td><%= sequelizemetum.webcam %></td>
        <td><%= sequelizemetum.weight %></td>
        <td><%= sequelizemetum.width %></td>
        <td><%= link_to 'Show', sequelizemetum %></td>
        <td><%= link_to 'Edit', edit_sequelizemetum_path(sequelizemetum) %></td>
        <td><%= link_to 'Destroy', sequelizemetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequelizemetum', new_sequelizemetum_path %>
