<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @sequelizemetum.active %>
</p>

<p>
  <strong>Active:</strong>
  <%= @sequelizemetum.active %>
</p>

<p>
  <strong>Activityid:</strong>
  <%= @sequelizemetum.activityid %>
</p>

<p>
  <strong>Activityid:</strong>
  <%= @sequelizemetum.activityId %>
</p>

<p>
  <strong>Authid:</strong>
  <%= @sequelizemetum.authId %>
</p>

<p>
  <strong>Chipsetid:</strong>
  <%= @sequelizemetum.chipsetid %>
</p>

<p>
  <strong>Computerid:</strong>
  <%= @sequelizemetum.computerId %>
</p>

<p>
  <strong>Connector available:</strong>
  <%= @sequelizemetum.connector_available %>
</p>

<p>
  <strong>Cpuid:</strong>
  <%= @sequelizemetum.cpuid %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @sequelizemetum.createdat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @sequelizemetum.createdat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @sequelizemetum.createdat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @sequelizemetum.createdat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sequelizemetum.description %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @sequelizemetum.designation %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @sequelizemetum.domain %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sequelizemetum.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @sequelizemetum.firstname %>
</p>

<p>
  <strong>Gpuid:</strong>
  <%= @sequelizemetum.gpuid %>
</p>

<p>
  <strong>Height:</strong>
  <%= @sequelizemetum.height %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sequelizemetum.id %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @sequelizemetum.indice %>
</p>

<p>
  <strong>Keyboardid:</strong>
  <%= @sequelizemetum.keyboardid %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @sequelizemetum.lastname %>
</p>

<p>
  <strong>Length:</strong>
  <%= @sequelizemetum.length %>
</p>

<p>
  <strong>Memory max size:</strong>
  <%= @sequelizemetum.memory_max_size %>
</p>

<p>
  <strong>Memory size:</strong>
  <%= @sequelizemetum.memory_size %>
</p>

<p>
  <strong>Memory type:</strong>
  <%= @sequelizemetum.memory_type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sequelizemetum.model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sequelizemetum.name %>
</p>

<p>
  <strong>Network:</strong>
  <%= @sequelizemetum.network %>
</p>

<p>
  <strong>Osid:</strong>
  <%= @sequelizemetum.osid %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sequelizemetum.password %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @sequelizemetum.picture %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @sequelizemetum.pricing %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @sequelizemetum.quest %>
</p>

<p>
  <strong>Questid:</strong>
  <%= @sequelizemetum.questId %>
</p>

<p>
  <strong>Refresh rate:</strong>
  <%= @sequelizemetum.refresh_rate %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @sequelizemetum.resolution %>
</p>

<p>
  <strong>Resp:</strong>
  <%= @sequelizemetum.resp %>
</p>

<p>
  <strong>Roleid:</strong>
  <%= @sequelizemetum.roleId %>
</p>

<p>
  <strong>Screenid:</strong>
  <%= @sequelizemetum.screenId %>
</p>

<p>
  <strong>Size:</strong>
  <%= @sequelizemetum.size %>
</p>

<p>
  <strong>Storage size:</strong>
  <%= @sequelizemetum.storage_size %>
</p>

<p>
  <strong>Storage type:</strong>
  <%= @sequelizemetum.storage_type %>
</p>

<p>
  <strong>Traderid:</strong>
  <%= @sequelizemetum.traderId %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sequelizemetum.type %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @sequelizemetum.updatedat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @sequelizemetum.updatedat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @sequelizemetum.updatedat %>
</p>

<p>
  <strong>With:</strong>
  <%= @sequelizemetum.with %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sequelizemetum.time %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @sequelizemetum.zone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sequelizemetum.url %>
</p>

<p>
  <strong>Webcam:</strong>
  <%= @sequelizemetum.webcam %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @sequelizemetum.weight %>
</p>

<p>
  <strong>Width:</strong>
  <%= @sequelizemetum.width %>
</p>

<%= link_to 'Edit', edit_sequelizemetum_path(@sequelizemetum) %> |
<%= link_to 'Back', sequelizemeta_path %>
