<p id="notice"><%= notice %></p>

<h1>Users Auths</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_auths.each do |users_auth| %>
      <tr>
        <td><%= users_auth.name %></td>
        <td><%= users_auth.description %></td>
        <td><%= link_to 'Show', users_auth %></td>
        <td><%= link_to 'Edit', edit_users_auth_path(users_auth) %></td>
        <td><%= link_to 'Destroy', users_auth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Auth', new_users_auth_path %>
