<p id="notice"><%= notice %></p>

<p>
  <strong>Questid:</strong>
  <%= @computers_quests_resp.questId %>
</p>

<p>
  <strong>Resp:</strong>
  <%= @computers_quests_resp.resp %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @computers_quests_resp.indice %>
</p>

<%= link_to 'Edit', edit_computers_quests_resp_path(@computers_quests_resp) %> |
<%= link_to 'Back', computers_quests_resps_path %>
