<%= form_with(model: computers_cpu, local: true) do |form| %>
  <% if computers_cpu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computers_cpu.errors.count, "error") %> prohibited this computers_cpu from being saved:</h2>

      <ul>
      <% computers_cpu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :computers_cpu_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :computers_cpu_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
