<p id="notice"><%= notice %></p>

<h1>Computers Quests</h1>

<table>
  <thead>
    <tr>
      <th>Activityid</th>
      <th>Quest</th>
      <th>Domain</th>
      <th>Createdat</th>
      <th>Updatedat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers_quests.each do |computers_quest| %>
      <tr>
        <td><%= computers_quest.activityId %></td>
        <td><%= computers_quest.quest %></td>
        <td><%= computers_quest.domain %></td>
        <td><%= computers_quest.createdat %></td>
        <td><%= computers_quest.updatedat %></td>
        <td><%= link_to 'Show', computers_quest %></td>
        <td><%= link_to 'Edit', edit_computers_quest_path(computers_quest) %></td>
        <td><%= link_to 'Destroy', computers_quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computers Quest', new_computers_quest_path %>
